<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" *ngIf="hasPreviousPage()">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li
      class="page-item"
      *ngFor="let page of pagination.pageList()"
      [class.active]="page === pagination.currentPage"
    >
      <a class="page-link" (click)="buttonClicked(page)">{{page +1}}</a>
    </li>

    <li class="page-item" *ngIf="hasNextPage()">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
